*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.vite/
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules/
/vendor/

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/public/build/
/public/hot
/public/storage

/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

Homestead.json
Homestead.yaml
Thumbs.db
